{
	"extends": "stylelint-config-recommended",
	"ignoreFiles": ["**/dist/**", "**/vendor/**"],
	"rules": {
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": ["extend"]
			}
		],
		"color-hex-length": "short",
		"color-named": "never",
		"comment-empty-line-before": [
			"always",
			{
				"ignore": ["stylelint-commands"]
			}
		],
		"declaration-block-no-duplicate-properties": [
			true,
			{
				"ignore": ["consecutive-duplicates"]
			}
		],
		"declaration-property-unit-allowed-list": {
			"line-height": ["px"]
		},
		"font-family-name-quotes": "always-where-recommended",
		"font-weight-notation": [
			"numeric",
			{
				"ignore": ["relative"]
			}
		],
		"function-name-case": [
			"lower",
			{
				"ignoreFunctions": ["/^DXImageTransform.Microsoft.*$/"]
			}
		],
		"function-url-quotes": "never",
		"length-zero-no-unit": true,
		"selector-attribute-quotes": "always",
		"selector-class-pattern": [
			"^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
			{
				"message": "Selector should use lowercase and separate words with hyphens (selector-class-pattern)"
			}
		],
		"selector-id-pattern": [
			"^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
			{
				"message": "Selector should use lowercase and separate words with hyphens (selector-id-pattern)"
			}
		],
		"selector-pseudo-element-colon-notation": "double",
		"selector-type-case": "lower",
		"value-keyword-case": "lower"
	}
}
