{% extends "section.twig" %}

{% block section_content %}
	<div class="flex flex-col gap-4 max-w-prose">
		<div class="flex flex-col gap-2">
			<h2>{{ heading }}</h2>
			{% if text %}
				<p>{{ text }}</p>
			{% endif %}
		</div>
		{% if button %}
			{% include 'button.twig' with {
				classes: 'w-full',
				title: button.title,
				url: button.url,
				target: button.target,
				type: 'primary'
			} %}
		{% endif %}
	</div>
{% endblock %}
