/**
 * This file is the entry point for cosmetic changes.
 *
 * N.B. We are not using @tailwind directives to load base, components and
 * utilities in order to make it work the @layer customizations in the imported
 * filed (e.g. _typo.css).
 * @see https://tailwindcss.com/docs/functions-and-directives#config
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/** Import files */
@import "./global/_typo.css";

/** Import Tailwind CSS Config */
/* stylelint-disable-next-line at-rule-no-unknown */
@config "../../tailwind.config.js";
