<!DOCTYPE html>
<html {{ site.language_attributes }} class="scroll-smooth">
	<head>
		{% block head %}
			{% include 'head.twig' %}
		{% endblock %}
	</head>
	<body {{ function('body_class') }}>
		{{ function('wp_body_open') }}

		{% block header %}
			{% include 'site-header/template.twig' %}
		{% endblock %}

		{% block content %}
			{% include 'main.twig' %}
		{% endblock %}

		{% block footer %}
			{% include 'site-footer/template.twig' %}
		{% endblock %}
	</body>
</html>
